#navDiv {
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 101;
    background: #2E3191;
}

#navDiv ul {
    background-color: #2E3191;
    width: inherit;
}

#navDiv li{
    list-style-type: none;
    width: inherit;
    padding: 10px;
    margin-left: -40px;
    text-align: center;
    background-color: #2E3191;
}

#navDiv a{
    text-decoration: none;
    color: #ffffff;
}

#navDiv li:hover{
    background-color: #ffffff;
    color: #2E3191;

}

#navDiv #info{
    background-color: #ffffff;
    height: 100px;
}

#navDiv #nav{
    background-color: #2E3191 !important;
    height: 284px;
}
