.container{
    margin-top: 100px;
    margin-left: 375px;
    border: 2px solid #000000;
    border-radius: 10px;
    position: absolute;
    width: 800px;
    background-color: #ffffff;
    padding: 15px;

}
.input{
    width: 600px;


}
#buttonDiv{
    margin-top: 0;
    width: 300px;
    padding: 0;
}
#button{
    height: 40px;
    width: 300px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
}
#button:hover{
    background-color: #2E3191;
    color: #ffffff;


}
