.header{
    width: 100%;
    height: 100px;
    background-color: #2E3191;
    left: 0;
    top: 0;
}

/* global customised classes */

.mainContainer {
    margin-left: 260px;
    margin-top: 20px;
    padding: 0;
    background-color: #ffffff;
}

a {
    cursor: pointer;
}
