#left-div{

    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 100px;
    width: 70%;
}

#left-div img {
    height: 50%;
    width: 100%;
    margin: auto;
}

#loginForm{
    border: 2px solid #000000;
    border-radius: 10px;
    width: 450px;
    background-color: #ffffff;
    height: 420px;
    padding: 30px;

}
p{
    font-size: 12px;

}

table{
    margin-top: 30px;
    margin-left: 30px;
}

td{
    font-size: 12px;
    padding: 5px;


}

.button{

    font-size: 14px;
    margin-top: 20px;
    width: 300px;
    height: 50px;
    color: #ffffff;
    background: #2E3191;
}
select{
    width: 170px;
}
input{
    width: 170px;
}
